<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
        <title>Inicio</title>
    </head>
    <body style="background-color:#e21c1c79;"></body>
    <body>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Ups se ha encontrado un error</h4>
            <p>Tus datos no son correctos, vericalos de nuevo</p>
            <hr>
            <p class="mb-0">Vuelva a intentarlo <a href="/" class="alert-link">Regresar</a></p>
        </div>
    </body>
</html>