<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <title>Registro</title>
    </head>
    <body style="background-color:#7726ad79;"></body>
    <body>
        <center>
            <h1>Registro</h1>
            <div class="card" style="width: 32rem;">
                <form action="" method="POST">
                    <br>
                    <br>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escribe tu nombre" required>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingresar email" required>
                    </div>
                    <br>
                    <button style="background-color:rgba(68, 0, 255, 0.568); border-color:rgb(142, 142, 231); color:rgb(15, 15, 15)"type="submit" class="bt3">Registrarse</button>
                </form>
            </div>
        </center>
    </body>
</html>>